<h2>Tuoteluettelo</h2>

<table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Väri</th>
      <th scope="col">Koko</th>
      <th scope="col">Hinta</th>
      <th scope="col">Varastotilanne</th>
      <th scope="col">Kuva</th>
    </tr>
  </thead>
  @foreach (Tuoterivi tuoterivi in Model)
{
    <tbody>
    <tr>
      <td>@tuoterivi.id</td>
      <td>@tuoterivi.vari</td>
      <td>@tuoterivi.koko</td>
      <td>@tuoterivi.hinta</td>
      <td>@tuoterivi.varastotilanne</td>
      <td>@tuoterivi.kuva</td>
    </tr>
    </tbody>
}
</table>
