@page
@model ot6.Pages.KiitosModel
@{
}

<h1>Kiitos ilmoittautumisesta!</h1>

    <div class="alert alert-success mt-3">
        <p>@Model.Etunimi</p> 
        <p>@Model.Sukunimi</p>
        <p>@Model.Paikkakunta</p>
        <p>@Model.Puhelinnumero</p>
        <p>@Model.Sahkoposti</p>
    </div>
